* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #e8ebf0;
}

.container-header {
    width: 80%;
    margin: 0 auto;
}

.container-header::after {
    content: "";
    display: block;
    clear: both;
}

header {
    background-color: #1aa0e8;
    transition: all 0.5s;
}

header h2 {
    float: left;
    padding-top: 20px;
    margin-left: 40%;
    color: #ffffff;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 25px;
    display: inline-block;
    color: #ffffff;
}

.container {
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    top: 55%;
    left: 50%;
    position: absolute;
    padding: 50px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    margin-left: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.content-form .form .input_container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.content-form .form .input_container label {
    width: 230px;
    margin-right: 28px;
    margin-left: 22px;
    font-size: 14px;
    color: #000000;
}

.content-form .form .input_container .input,
.content-form .form .input_container .input-berat,
.content-form .form .input_container .total_harga {
    border: 1px solid #b0cac7;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 3px;
    background: #ffffff;
}

.content-form .form .input_container .input-berat {
    width: 50px;
}

.content-form .form .input_container .berat label {
    font-size: 14px;
    margin-right: 100px;
    color: #000000;
}

.content-form .form .input_container .total_harga {
    width: 106px;
}

.content-form .form .input_container .harga label {
    font-size: 14px;
    margin-right: 20px;
    margin-left: 2px;
    color: #000000;
}

.content-form .form .input_container .input-berat:focus,
.content-form .form .input_container .total_harga:focus {
    border: 1px solid #1aa0e8;
}

.content-form .form .input_container .custom_select select {
    font-size: 14px;
    background: #1aa0e8;
    color: #ffffff;
    padding: 3px;
    padding-right: 10px;
    margin-right: 31px;
    border-radius: 5px;
}

.content-form .form button {
    margin-top: 35px;
    margin-left: 10px;
    width: 93%;
    background: #1aa0e8;
    border: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff;
}

.form button:hover {
    box-shadow: 0px 1px 10px #1aa0e8;
}